<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <label class="item item-input">
      <input type="phone" placeholder="TTT" name="user_pin" ng-model="user.pin" required valid-pin="user.pin">
    </label>

    <button class="button button-full button-positive"  ng-click="set()">SET</button>
    <button class="button button-full button-assertive" ng-click="get()">GET</button>
  </ion-content>
</ion-view>
